<section class="container-fluid">
  <div class="container py-3">
    <h1>Sign Up</h1>
    <%= form_with(model: @user) do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email, html: {autocomplete: "username"} %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password, html: {autocomplete: "new-password"} %>
      </div>
      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, html: {autocomplete: "new-password"} %>
      </div>
      <div>
        <%= f.submit "Sign up!" %>
      </div>
    <% end %>
  </div>
</div>
