<section class="container-fluid">
  <div class="container">
      <div class="row vh-80">
          <div class="col-4 scroll pl-0">
            <div class="card-columns">
                <% @sports_centres.each do |sports_centre| %>
                    <div class="card" data-id=<%= sports_centre.id %>>
                      <div class="card-body">
                        <h4 class="card-title"><%= sports_centre.title %></h4>
                        <p class="card-text"><i class="fa fa-map-marker-alt"></i><%= sports_centre.description %></p>
                        <p class="card-text card-address"><%= sports_centre.address.full_address %></p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"><%= sports_centre.phone %></small>
                      </div>
                    </div>
                <% end %>
            </div>
          </div>
          <div class="col-8 px-0 mapCol d-none">
          </div>
          <div class="col-8 px-0 position-relative detailCol">
            <div class="underneath position-absolute">
              <div id="mapid"></div>
            </div>
            <div class="slideHolder position-absolute" data-centre = "">
              <div class="row">
                <div class="col-12">
                      <div class="row">
                          <div class="col-7">
                              <div class="row">
                                 <div class="col-12 title pr-0">
                                    <h3></h3>
                                    <hr>
                                 </div>
                              </div>
                              <div class="row mx-0">
                                <div class="col-1 mb-3 pr-0">
                                  <i class="fa fa-map-marker fa-2x"></i>
                                </div>
                                <div class="col-11 pr-0">
                                  <p class="address"></p>
                                </div>
                              </div>
                             <div class="row mx-0">
                               <div class="col-1 mb-3 pr-0">
                                 <i class="fa fa-clock-o fa-2x"></i>
                               </div>
                             </div>
                             <div class="row mx-0">
                               <div class="col-1 mb-3 pr-0">
                                 <i class="fa fa-usd fa-2x"></i>
                               </div>
                             </div>
                             <div class="row mx-0">
                               <div class="col-12">
                                   <div class="row">
                                     <div class="col-12 mb-3">
                                        <nav>
                                          <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active casual" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Casual</a>
                                            <a class="nav-item nav-link regular" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Regular</a>
                                          </div>
                                        </nav>
                                     </div>
                                   </div>
                                   <div class="row off_peak">
                                     <div class="col-6 half_court">
                                       <h6 class="text-center text-muted">Half Court:</h6>
                                       <h6 class="text-muted mb-1">Off Peak:</h6>
                                       <div class="align-center"><h2 class="font-weight-bold d-inline-block priceHolder" data-casual-price="" data-regular-price=""></h2><h6 class="d-inline-block">/hr</h6></div>
                                     </div>
                                     <div class="col-6 full_court">
                                       <h6 class="text-center text-muted">Full Court:</h6>
                                       <h6 class="text-muted mb-1">Off Peak:</h6>
                                       <div class="align-center"><h2 class="font-weight-bold d-inline-block priceHolder" data-casual-price="" data-regular-price=""></h2><h6 class="d-inline-block">/hr</h6></div>
                                     </div>
                                   </div>
                                   <div class="row off_peak">
                                      <div class="col-6 d-flex justify-content-between half_court">
                                        <p class="text-muted d-inline-block mb-0">Peak Hour:</p>
                                        <div>
                                          <h6 class="d-inline-block mb-0 priceHolder" data-casual-price="" data-regular-price=""></h6><p class="text-muted d-inline-block mb-0">/hr</p>
                                        </div>
                                      </div>
                                      <div class="col-6 d-flex justify-content-between full_court">
                                        <p class="text-muted d-inline-block mb-0">Peak Hour:</p>
                                        <div>
                                          <h6 class="d-inline-block mb-0 priceHolder" data-casual-price="" data-regular-price=""></h6><p class="text-muted d-inline-block mb-0">/hr</p>
                                        </div>
                                      </div>
                                   </div>
                                   <div class="row school_holidays">
                                      <div class="col-6 d-flex justify-content-between half_court">
                                        <p class="text-muted d-inline-block">School Holidays:</p>
                                        <div>
                                          <h6 class="d-inline-block priceHolder" data-casual-price="" data-regular-price=""></h6><p class="text-muted d-inline-block">/hr</p>
                                        </div>
                                      </div>
                                      <div class="col-6 d-flex justify-content-between full_court">
                                        <p class="text-muted d-inline-block">School Holidays:</p>
                                        <div>
                                          <h6 class="d-inline-block priceHolder" data-casual-price="" data-regular-price=""></h6><p class="text-muted d-inline-block">/hr</p>
                                        </div>
                                      </div>
                                   </div>
                               </div>
                             </div>
                          </div>
                          <div class="col-5 hidden px-0">
                            <div class="card main">
                              <div class="input-group date card-title mb-0" data-provide="datepicker">
                                  <input type="text" class="form-control dateHolder" data-date="">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                  </div>
                              </div>
                              <div class="card-body py-1">
                                <nav>
                                  <div class="nav nav-tabs court-types" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-halfCourt-tab" data-toggle="tab" href="#nav-fullCourt" role="tab"
                                    aria-controls="nav-halfCourt" aria-selected="true" data-courtType="half_court">Half-Court</a>
                                    <a class="nav-item nav-link" id="nav-fullCourt-tab" data-toggle="tab" href="#nav-fullCourt" role="tab"
                                    aria-controls="nav-fullCourt" aria-selected="false" data-courtType="full_court">Full-Court</a>
                                  </div>
                                </nav>
                                <canvas id="canvas" width="400" height="400" style="background-color:lightgrey">
                                </canvas>
                                <div class="input-group">
                                  <input type="time" class="form-control startTime" data-counter="" data-interval="" required/>
                                  <input type="time" class="form-control endTime" data-counter="" data-interval="" required/>
                                  <div class="input-group-append">
                                    <span class="input-group-text" id=""><i class="fa fa-clock-o"></i></span>
                                  </div>
                                  <div class="d-none peak-hour-holder">
                                  </div>
                                  <div class="d-none real-price-holder">
                                  </div>
                                </div>
                              </div>
                              <div class="card-footer pt-0">
                                <div class="row mt-2 mx-0">
                                    <button type="button" class="btn btn-primary btn-sm col-6 repeat">Repeat booking</button>
                                    <button type="button" class="btn btn-secondary btn-block btn-sm col-6 clearTime">Clear Time</button>
                                </div>
                                <hr class = "my-2">
                                <button type="button" class="btn btn-success btn-block book-now mt-2 below-clock" data-toggle="modal" data-target="#payment-confirmation">
                                  Book now
                                </button>
                              </div>
                            </div>
                            <div class="card repeat-card-body border-bottom-0 slideHolderModal w-100" id="repeat-card">
                              <div class="card-body py-1">
                                <div class= "form-row mt-2">
                                  <i class="fas fa-arrow-left back-arrow hover-grey mr-2 p-2 align-self-center back-arrow-booking rounded"></i>
                                  <p class="bold heading mb-2">Regular Booking</p>
                                </div>
                                <div class="form-row white-box rounded">
                                  <label class="col-4 text-left font-weight-normal">Start Date</label>
                                  <input class="col-auto form-control startDate" placeHolder = "Wednesday, 18 December"></input>
                                </div>
                                <div class="form-row white-box rounded mt-2 frequency">
                                  <div class="d-flex col-4">
                                    <label class="text-left font-weight-normal mb-2">Frequency</label>
                                  </div>
                                  <div class="btn-group btn-group-sm days-and-weeks col-6 offset-2 mb-1 d-flex justify-content-end" role="group">
                                    <button type="button" class="btn btn-outline-secondary daysWeeks" data-frequency-type="Days">Days</button>
                                    <button type="button" class="btn btn-outline-secondary daysWeeks" data-frequency-type="Weeks">Weeks</button>
                                  </div>
                                  <input class="col-7 form-control" placeHolder = "Every Week" data-frequency-type="Weeks"></input>
                                  <div class="col-5 d-flex justify-content-between add-and-minus">
                                    <button type="button" class="btn btn-light btn-sm rounded-circle d-inline-block minus-button"><i class="fas fa-minus fa-xs"></i></button>
                                    <div class="frequency-in-days d-inline-block my-auto" data-counter="" data-interval="">0</div>
                                    <button type="button" class="btn btn-primary btn-sm rounded-circle d-inline-block plus-button"><i class="fas fa-plus fa-xs"></i></button>
                                  </div>
                                </div>
                                <div class="form-row white-box rounded mt-2 endDate">
                                  <label class="col-4 text-left font-weight-normal">End Date</label>
                                  <input class="col-7 form-control" placeHolder = "After 1 booking"></input>
                                  <div class="col-5 d-flex justify-content-between add-and-minus">
                                    <button type="button" class="btn btn-light btn-sm rounded-circle d-inline-block minus-button"><i class="fas fa-minus fa-xs"></i></button>
                                    <div class="number-of-bookings d-inline-block my-auto" data-counter="" data-interval="">1</div>
                                    <button type="button" class="btn btn-primary btn-sm rounded-circle d-inline-block plus-button"><i class="fas fa-plus fa-xs"></i></button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="card-title">Half court:</p>
                  <h3 class="card-text font-weight-bold text-center"></h3>
                  <hr>
                  <p class="card-title">Full court:</p>
                  <h3 class="card-text font-weight-bold text-center"></h3>
                </div>
                <div class="col-12">
                  <img src="#", class="resize"/>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- Modal content-->
      <div class="modal fade" id="payment-confirmation" role="dialog">
        <div class="modal-dialog hidden">
          <div class="modal-content firstModal">
            <div class="modal-header">
              <h6 class="modal-title">Review Bookings</h6>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body pt-0 booking px-0" data-booking-type="casual" data-court-type="half_court"
              data-booking-interval="14" data-booking-startTime="11:30" data-booking-endTime="14:00" data-booking-rate="peak_hour"
              data-number-of-bookings="10" data-casual-booking-date="" id="payment-summary">
              <div class="container-fluid mt-3 booking-row-start">
                <div class="row px-0">
                  <div class="col-3 pr-0">
                    <div class="row mx-0 pt-2 border-dark border">
                      <div class="col-12 d-flex justify-content-center">
                        <h6 class="monthHolder">March</h6>
                      </div>
                    </div>
                    <div class="row mx-0 border border-dark border-top-0">
                      <div class="col-12 d-flex justify-content-center">
                        <h2 class="mt-2 dayHolder">30</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="row booking-time">
                      <div class="col-12 d-flex justify-content-between">
                        <div class="font-weight-light slateGrey"><span id="weekday">Wednesday, </span>
                          <span class="bookingPeriod">11:30AM-2PM</span></div>
                      </div>
                    </div>
                    <div class="row mt-1">
                      <div class="col-12 d-flex justify-content-between court-type">
                        <h5 class="font-weight-bold">BasketBall <span class="courtType">Half-Court</span></h5>
                        <h5 class="mb-0">$25.99</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 d-flex">
                        <div><i class="fas fa-map-marker-alt"></i></div>
                        <div class="font-weight-light ml-2">Morris Iemma Indoor Sports Centre</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mx-0 range-divider d-none">
                <div class="col-3 pr-0">
                  <div class="d-flex justify-content-center mt-2"><i class="fas fa-angle-down fa-lg" aria-hidden="true"></i></div>
                </div>
              </div>
              <div class="container-fluid mt-1 booking-row-end d-none">
                <div class="row px-0">
                  <div class="col-3 pr-0">
                    <div class="row mx-0 pt-2 border-dark border">
                      <div class="col-12 d-flex justify-content-center">
                        <h6 class="monthHolder">June</h6>
                      </div>
                    </div>
                    <div class="row mx-0 border border-dark border-top-0">
                      <div class="col-12 d-flex justify-content-center">
                        <h2 class="dayHolder mt-2">22</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <div class="col-12 d-flex justify-content-between">
                        <div class="font-light-weight slateGrey frequencyHolder">Every 2 weeks</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 d-flex justify-content-between booking-type">
                        <h5>Regular Booking</h5>
                        <div>
                          <i class="fas fa-sm fa-times d-inline-block"></i>
                          <h5 class="d-inline-block booking-number">10</h5>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 d-flex justify-content-between caret py-2">
                        <div>Review all bookings</div>
                        <div><i class="fas fa-caret-right"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-body p-0">
              <hr class="my-0">
              <div class="container-fluid whiteSmokeBG pt-2 pb-4">
                <div class="row rounded border p-2 mx-0 bg-white mb-3">
                    <p class="col-5 mb-0">Email Receipt to:</p>
                    <input type="email" class="form-control col-7 p-0 border-top-0 border-left-0 border-right-0 box-shadow-none"
                    placeholder="john-citizen@hotmail.com" value="hi_justin@hotmail.com">
                </div>
                <div class="row px-0">
                  <div class="col-9 offset-3 text-right">
                    <div class="row">
                      <div class="col-8">
                        <p class="mb-1">Subtotal (<span class="booking-number">10</span> bookings)</p>
                      </div>
                      <div class="col-4">
                        <p class="mb-1">$100.00</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8">
                        <p class="mb-1">Discount</p>
                      </div>
                      <div class="col-4">
                        <p class="mb-1">-$10.00</p>
                      </div>
                    </div>
                    <hr class="my-2">
                    <div class="row">
                      <div class="col-8">
                        <h5 class="font-weight-bold mb-0">Order Total</h5>
                      </div>
                      <div class="col-4">
                        <h5 class="font-weight-bold mb-0 totalAmount">$90.00</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary polipay" data-dismiss="modal">Pay</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-content slideHolderModal position-fixed" id="allDatesModal">
              <div class="modal-header d-flex py-2 pl-2">
                <i class="fas fa-arrow-left back-arrow hover-grey mr-2 my-1 p-2 align-self-center rounded"></i>
                <h6 class="modal-title align-self-center">Dates</h6>
                <button type="button" class="close align-self-center" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body px-0 overflow-auto pb-0">
                <div class="container-fluid">
                  <div class="row px-3">
                    <p class="font-weight-light">Basketball Half-Court: 11:30AM-2PM</p>
                  </div>
                </div>
                <hr class="my-0 d-none">
                <div class="row justify-content-between template px-3 d-none">
                  <p class="my-2">Saturday, 3 March 2019</p>
                </div>
                <hr class="my-0">
                <div class="container-fluid booking-dates">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
</section>
