<section class="container-fluid">
  <div class="container py-3">
    <%= form_with(model: @sports_centre, local: true, html: { novalidate: true, class: 'needs-validation' }) do |f| %>
        <div class="row">
            <div class="mx-auto col-md-6">
              <fieldset class="card">
                <div class="card-header">
                  <h4 class="mb-0">Business Email and Password</h4>
                </div>
                <div class="card-body">
                      <div class="form-row nested mt-3">
                        <div class="col-md-8">
                          <div class="row">
                            <%= f.label :email, class: 'col-12' %>
                            <%= f.email_field :email, class: 'col-12 form-control mandatory', required: true, html: { autocomplete: "username" } %>
                          </div>
                        </div>
                      </div>
                      <div class="form-row nested mt-3">
                        <div class="col-md-8">
                          <div class="row">
                            <%= f.label :password, class: 'col-12' %>
                            <%= f.password_field :password, class: 'col-12 form-control mandatory', required: true, html: { autocomplete: "new-password" } %>
                          </div>
                        </div>
                      </div>
                      <div class="form-row nested mt-3">
                        <div class="col-md-8">
                          <div class="row">
                            <%= f.label :password, class: 'col-12' %>
                            <%= f.password_field :password_confirmation, class: 'col-12 form-control mandatory', required: true, html: { autocomplete: "new-password" } %>
                          </div>
                        </div>
                      </div>
                    <div class="form-row btn-toolbar p-0 mt-4">
                        <button type="button" class="btn btn-light previous"><i class="fa fa-angle-left mr-2"></i>Previous</button>
                        <button type="button" class="btn btn-light ml-auto next">Next<i class="fa fa-angle-right ml-2"></i></button>
                    </div>
                </div>
              </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto col-md-6">
              <fieldset class="card">
                <div class="card-header">
                  <h4 class="mb-0">General information</h4>
                </div>
                <div class="card-body">
                        <%= f.fields_for(@new_address) do |new_address| %>
                        <div class="form-row">
                            <%= new_address.label :full_address, class: 'col-12' %>
                            <%= new_address.text_field :full_address, class: 'col-12 form-control', id: "autocomplete" %>
                        </div>
                        <div class="row mt-3">
                            <div class="col"><hr></div>
                            <div class="col-auto">OR</div>
                            <div class="col"><hr></div>
                        </div>
                    <div class="form-row">
                        <%= f.label :title, class: 'col-12' %>
                        <%= f.text_field :title, id: "title", class: 'col-12 form-control mandatory', required: true %>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                     </div>
                    <div class="form-row nested mt-3">
                      <div class="col-md-8">
                        <div class="row">
                          <%= new_address.label :street_address, class: 'col-12' %>
                          <%= new_address.text_field :street_address, class: 'col-12 form-control mandatory', id: "street_address", required: true %>
                          <div class="valid-feedback">Looks good!</div>
                          <div class="invalid-feedback">Example invalid custom select feedback</div>
                        </div>
                      </div>
                      <div class="col-md-4">
                          <div class="row">
                              <%= f.label :phone, class: 'col-12' %>
                              <%= f.telephone_field :phone, class: 'col-12 form-control', required: false%>
                          </div>
                      </div>
                    </div>
                    <div class="form-row nested mt-3">
                       <div class="col-md-6">
                            <div class="row">
                                <%= new_address.label :suburb, class: "col-12" %>
                                <%= new_address.text_field :suburb, class: "col-12 form-control mandatory", id: 'locality', required: true %>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <%= new_address.label :state, class: "col-12" %>
                                <%= new_address.text_field :state, list: 'states', id: 'administrative_area_level_1', class: "col-12 form-control mandatory", required: true %>
                                <datalist id="states">
                                  <option value="NSW"></option>
                                  <option value="VIC"></option>
                                  <option value="QLD"></option>
                                  <option value="ACT"></option>
                                  <option value="SA"></option>
                                  <option value="WA"></option>
                                  <option value="NT"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-3">
                          <div class="row">
                              <%= new_address.label :postcode, class: "col-12" %>
                              <%= new_address.text_field :postcode, class: "col-12 form-control mandatory", id: 'postal_code', required: true %>
                          </div>
                        </div>
                    </div>
                      <% end %>
                      <div class="form-row mt-3">
                          <%= f.label :description, class: 'col-12' %>
                          <%= f.text_area :description, class: 'col-12 form-control', required: false%>
                      </div>
                    <div class="form-row btn-toolbar p-0 mt-4">
                        <button type="button" class="btn btn-light previous"><i class="fa fa-angle-left mr-2"></i>Previous</button>
                        <button type="button" class="btn btn-light ml-auto next">Next<i class="fa fa-angle-right ml-2"></i></button>
                    </div>
                </div>
              </fieldset>
            </div>
        </div>
        <div class="row">
          <div class="mx-auto col-md-8">
              <fieldset class="card">
                <div class="card-header">
                  <h4 class="mb-0">Court Information</h4>
                </div>
                <div class="card-body table-responsive-md">
                  <table class="table table-sm table-bordered parentWidth">
                    <thead>
                      <tr>
                        <th scope="col" class="moreEqualTH">#</th>
                        <% Date::ABBR_DAYNAMES.each do |dayname| %>
                          <th scope="col" class="equalTH"><%= dayname %></th>
                        <% end %>
                      </tr>
                    </thead>
                    <tbody>
                      <% (6.hours..23.5.hours).step(30.minutes).each do |hour| %>
                        <tr>
                          <th scope="row" class="p-0"><sup><%= Time.at(hour).gmtime.strftime('%H:%M') %></sup></th>
                          <% (0..6).each do |i| %>
                              <td data-time=<%= Time.at(hour).gmtime.strftime('%H:%M') %> data-day = <%= Date::ABBR_DAYNAMES[i] %>>&nbsp;</td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <div class='row'>
                    <div class="col-12" id="opening_hours">
                      Opening hours:
                    </div>
                    <div class="col-12 times" id="Sun">
                    </div>
                    <div class="col-12 times" id="Mon">
                    </div>
                    <div class="col-12 times" id="Tue">
                    </div>
                    <div class="col-12 times" id="Wed">
                    </div>
                    <div class="col-12 times" id="Thu">
                    </div>
                    <div class="col-12 times" id="Fri">
                    </div>
                    <div class="col-12 times" id="Sat">
                    </div>
                    <%= f.hidden_field :opening_hours, class: 'col-12' %>
                    <div class="col-12 btn-toolbar mt-4">
                      <button type="button" class="btn btn-light previous"><i class="fa fa-angle-left mr-2"></i>Previous</button>
                      <button type="button" class="btn btn-light ml-auto next">Next<i class="fa fa-angle-right ml-2"></i></button>
                    </div>
                  </div>
                </div>
              </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="mx-auto col-md-6">
              <fieldset class="card">
                <div class="card-header d-flex">
                  <h4 class="mb-0">Bank Account Details <small class="text-muted">(optional)</small></h4>
                  <i class="fa fa-2x ml-auto light-blue fa-question-circle"></i>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <%= f.label :payID, "PayID", class: 'col-12' %>
                        <%= f.text_field :payID, class: 'col-12 form-control' %>
                    </div>
                    <div class="row mt-3">
                        <div class="col"><hr></div>
                        <div class="col-auto">OR</div>
                        <div class="col"><hr></div>
                    </div>
                    <div class="form-row nested">
                       <div class="col-md-8">
                            <div class="row">
                                <%= f.label :account_number, "Account Number", class: "col-12" %>
                                <%= f.number_field :account_number, class: "col-12 form-control mandatory" %>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <%= f.label :BSB, "BSB", class: "col-12" %>
                                <%= f.number_field :BSB, class: "col-12 form-control mandatory" %>
                            </div>
                        </div>
                    </div>
                  <div class="form-row btn-toolbar mt-4 p-0">
                    <button type="button" class="btn btn-light previous"><i class="fa fa-angle-left mr-2"></i>Previous</button>
                    <button type="button" class="btn btn-light next">Next<i class="fa fa-angle-right ml-2"></i></button>
                    <%= f.button :submit, class: 'btn btn-light ml-auto' %>
                  </div>
                </div>
              </fieldset>
          </div>
        </div>
    <% end %>
  </div>
</section>
