<section class="container-fluid bg-white my-auto">
  <div class="container" id="newCentreWrapper">
    <div id="registerProgressBar" class="progress my-3">
      <div class="progress-bar bg-success"></div>
    </div>
    <%= form_with(model: @sports_centre, local: true, html: {novalidate: true, id: 'registerCentre',class: 'needs-validation business-registration', multipart: true }) do |f| %>
        <div class="row">
            <div class="mx-auto col-12 col-lg-8">
              <fieldset class="card" id="first-card">
                <div class="card-header">
                  <h4 class="mb-0 border-left-orange">Step 1 of 2 - Account details:</h4>
                </div>
                <div class="card-body">
                       <div class="form-row nested">
                          <div class="col-md-12">
                               <div class="row pr-2 mb-2">
                                 <%= f.label :email, "Email", class: 'min-label col-md-4 pl-0  align-self-center ' %>
                                 <%= f.email_field :email, class: 'col-md-6 form-control mandatory white-box ml-md', required: true%>
                                 <div class="invalid-feedback row"><span class='col offset-md-4'>Please enter a valid email address.</span></div>
                               </div>
                           </div>
                       </div>
                       <div class="form-row nested">
                          <div class="col-md-12">
                               <div class="row pr-2 mb-2">
                                 <%= f.label :password, "Password (Min. 8 characters)", class: 'col-md-4 min-label  pl-0  align-self-center ' %>
                                 <%= f.password_field :password, class: 'col-md-3 col-7 form-control mandatory white-box ml-md passwdTop', required: true%>
                               </div>
                           </div>
                       </div>
                        <div class="form-row nested">
                           <div class="col-md-12">
                             <div class="row pr-2 mb-2">
                               <%= f.label :password_confirmation, "Password Confirmation", class: 'col-md-4 min-label  pl-0  align-self-center ' %>
                               <%= f.password_field :password_confirmation, class: 'col-md-3 col-7 form-control mandatory white-box ml-md passwdConfirm', required: true%>
                               <div class="invalid-feedback row"><span class='col offset-md-4'>Passwords do not match</span></div>
                             </div>
                           </div>
                         </div>
                    </div>
                  <div class="card-footer">
                    <div class="form-row btn-toolbar p-0">
                        <button type="button" class="btn btn-primary previous"><i class="fa fa-angle-left mr-2"></i>Previous</button>
                        <button type="button" class="btn btn-primary ml-auto next">Next<i class="fa fa-angle-right ml-2"></i></button>
                    </div>
                  </div>
              </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto col-12 col-lg-8">
              <fieldset class="card summary">
                <div class="card-header">
                  <h4 class="mb-0 border-left-orange">Step 2 of 2 - Company details:</h4>
                </div>
                <div class="card-body">
                    <%= f.fields_for(@new_address) do |new_address| %>
                    <div class="form-row nested">
                       <div class="col-md-12">
                            <div class="row pr-2 mb-2">
                              <%= new_address.label :full_address, "Company Name", class: 'min-label col-md-4 pl-0  align-self-center ' %>
                              <%= new_address.text_field :full_address, class: 'col-md-6 form-control mandatory white-box ml-md', placeholder: "Morris Iemma Sports Centre", id: "autocomplete", autocomplete: "on" %>
                              <div class="invalid-feedback row"><span class='col offset-md-4'>This field must be filled out.</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-none">
                            <div class="form-row nested">
                              <div class="col-md-12">
                                <div class="row pr-2 mb-2 rounded-top">
                                  <%= new_address.label :street_address, class: 'min-label col-md-4 pl-0  align-self-center' %>
                                  <%= new_address.text_field :street_address, class: 'col-md-6 form-control white-box ml-md', id: "street_address" %>
                                  <div class="invalid-feedback row"><span class='col offset-md-4'>Please enter a valid street address.</span></div>
                                </div>
                              </div>
                            </div>
                            <div class="form-row nested">
                               <div class="col-md-12">
                                    <div class="row pr-2 mb-2">
                                        <%= new_address.label :suburb, class: "min-label col-md-4 pl-0  align-self-center " %>
                                        <%= new_address.text_field :suburb, class: "col-md-4 col-8 form-control white-box ml-md", id: 'locality' %>
                                        <div class="invalid-feedback row"><span class='col offset-md-4'>Please enter a valid suburb.</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row nested">
                                <div class="col-md-12">
                                    <div class="row pr-2 mb-2">
                                        <%= new_address.label :state, class: "min-label col-md-4 pl-0  align-self-center " %>
                                        <%= new_address.text_field :state, list: 'states', id: 'administrative_area_level_1',
                                        class: "col-md-2 col-4 form-control white-box ml-md" %>
                                        <div class="invalid-feedback row"><span class='col offset-md-4'>Please enter a valid state.</span></div>
                                        <datalist id="states">
                                          <option value="NSW"></option>
                                          <option value="VIC"></option>
                                          <option value="QLD"></option>
                                          <option value="ACT"></option>
                                          <option value="SA"></option>
                                          <option value="WA"></option>
                                          <option value="NT"></option>
                                        </datalist>
                                    </div>
                                </div>
                             </div>
                             <div class="form-row nested rounded-bottom">
                                <div class="col-md-12">
                                  <div class="row pr-2 mb-2">
                                      <%= new_address.label :postcode, class: "min-label col-md-4 pl-0  align-self-center" %>
                                      <%= new_address.number_field :postcode, class: "col-md-2 col-4 form-control white-box ml-md", id: 'postal_code', max: "4" %>
                                      <div class="invalid-feedback row"><span class='col offset-md-4'>Please enter a valid postcode.</span></div>
                                  </div>
                                </div>
                            </div>
                        </div>
                      <% end %>
                      <div class="form-row nested">
                         <div class="col-md-12">
                              <div class="row pr-2 mb-2">
                                <%= f.label :numberOfCourts, "Number of spaces", class: "min-label col-md-4 pl-0  align-self-center" %>
                                <%= f.number_field :numberOfCourts, class: "col-md-2 col-4 form-control mandatory white-box ml-md", id: 'number_of_courts' %>
                                <div class="invalid-feedback row"><span class="col">Please select the number of half courts to accomadate.</span></div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="form-row btn-toolbar p-0">
                            <button type="button" class="btn btn-primary previous"><i class="fa fa-angle-left mr-2"></i>Previous</button>
                            <%= f.submit "Register", class: "btn btn-success ml-auto next" %>
                      </div>
                    </div>
              </fieldset>
            </div>
        </div>
    <% end %>
  </div>
</section>
