<section class="container-fluid mt-3">
  <div class="container">
      <div class="row">
        <div class="col-12">
            <h3 class="sports_centre_holder" data-sports-centre-id=<%= @sports_centre.id %>
              data-number-of-courts=<%= @sports_centre.numberOfCourts %>><%= @sports_centre.title %></h3>
        </div>
      </div>
  </div>
</section>
<section class="container-fluid mt-3">
  <div class="container border border-dark rounded">
      <div class="row h-100">
        <div class="col-3 mx-0 admin-panel bg-silver pt-3">
            <div class="row datepicker-holder-row">
              <div class="col pr-0 pl-1 ml-2">
                  <div id="datepicker"></div>
                  <input type="hidden" id="my_hidden_input">
              </div>
              <div class="col mx-3">
                <div class="row">
                  <div class="col rounded hover-black text-white manage_bookings mt-3 p-2">
                    Manage Bookings <!-- admin_sports_centre_path(@sports_centre) -->
                  </div>
                </div>
                <div class="row">
                  <div class="col text-white hover-black rounded manage_peak_hours p-2">
                    Manage Peak Hours
                  </div>
                </div>
                <div class="row">
                  <div class="col text-white hover-black edit-profile rounded p-2">
                    <i class="fas fa-edit mr-2"></i>
                    Edit Business Profile
                  </div>
                </div>
                <div class="row">
                  <div class="col text-white rounded hover-black p-2">
                    Something
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-9 px-0 overflow-y">
          <!-- timetable for sports_centre -->
          <table class="table table-sm table-bordered courts-table parentWidth">
            <thead>
              <tr>
                <th scope="col" class="moreEqualTH"></th>
                <% [*1..@sports_centre.numberOfCourts].each do |number| %>
                  <th scope="col" class="equalTH">Court no.<%= number %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% (6.hours..23.5.hours).step(30.minutes).each do |hour| %>
                <tr>
                  <th scope="row" class="p-0"><sup><%= Time.at(hour).gmtime.strftime('%H:%M') %></sup></th>
                  <% [*1..@sports_centre.numberOfCourts].each do |i| %>
                      <td data-time=<%= Time.at(hour).gmtime.strftime('%H:%M') %> data-court = <%= i %>>&nbsp;</td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class='row'>
            <div class="col-8" id="opening_hours">
              Bookings
            </div>
            <div class="col-4 d-none peak_hour_buttons justify-content-between">
              <button type="button" class="btn btn-primary confirm">Confirm peak hours</button>
              <button type="button" class="btn btn-secondary">Clear</button>
            </div>
          </div>
          <div class="row mx-0 d-none upload-profile h-100">
            <%= form_with model: @sports_centre, class: "col d-flex flex-column" do |f| %>
              <div class="row mx-0 mt-4">
                <h5>Upload a logo:</h5>
              </div>
              <img id="image" class="image-contain"></img>
              <div class="custom-file row mx-0 mt-2">
                <%= f.file_field :logo, class: "custom-file-input", id: "customFile" %>
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <div class="row mx-0 align-self-end mt-auto mb-3">
                <%= f.submit "Save", class: "btn btn-primary mr-2" %>
                <button type="button" class="btn btn-secondary">Cancel</button>
              </div>
            <% end %>
          </div>
          <div class="row peak-times d-none">
            <div class="col-12 times" id="Sun">
            </div>
            <div class="col-12 times" id="Mon">
            </div>
            <div class="col-12 times" id="Tue">
            </div>
            <div class="col-12 times" id="Wed">
            </div>
            <div class="col-12 times" id="Thu">
            </div>
            <div class="col-12 times" id="Fri">
            </div>
            <div class="col-12 times" id="Sat">
            </div>
          </div>
          <div class="row court-times">
            <% [*1..@sports_centre.numberOfCourts].each do |n| %>
              <div class="col-12 times" id="court-no-<%= n %>">
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</section>
