<section class="container-fluid bg-home-image-1 pb-3">
    <div class="container infoPageGrid1">
      <div class="homePageText d-flex flex-column">
          <div class="dynamicFont">
            How WeBall works
          </div>
        <!--  <span>Let customers</span>
          <span class="text-uppercase mb-0 font-weight-bold text-center mb-0">book venues faster</span>
          <span class="text-right">on your site.</span> -->
          <div class="h5 mb-0">
            In this page, we explore how the WeBall booking system works. Select the part you would like to learn more about.
          </div>
          <div class="d-flex justify-content-end pt-4">
            <a role="button" class="btn btn-small generalButton h4 font-weight-bold" href="#infoDashBoard">
                The WeBall dashboard<i class="fas fa-lg ml-2 fa-angle-right"></i>
            </a>
          </div>
          <div class="d-flex justify-content-end">
            <a role="button" class="btn btn-small generalButton h4 font-weight-bold" href="#infoWidget">
                The WeBall widget<i class="fas fa-lg ml-2 fa-angle-right"></i>
            </a>
          </div>
      </div>
      <%= image_tag(asset_path("tabletWeBall.png"), class: "homePagePhoto1") %>
      <%= image_tag(asset_path("demoPhoneWeBall.png"), class: "homePagePhoto2") %>
      <!-- grid -->
    </div>
</section>
<section class="container-fluid bg-white px-0" id="infoDashBoard">
    <div class="container">
      <div class="dynamicFont mt-5 mb-3 mb-md-5">
        The WeBall administrator dashboard:
      </div>
      <div class="h3 font-weight-bold">
        Action tabs:
      </div>
      <div class="h5 mb-0">
        Four action tabs in the middle of the left sidebar controls what appears in the dashboard.
      </div>
      <div class="h5 mb-0">
        Each tab will enable you to perform a different set of tasks.
      </div>
      <div class="h5 mb-0">
        Read the cards below to learn about each action tab.
      </div>
      <div class="btn-group bg-white form-control p-0 flexWrapButtons mt-3" id="infoCardSelection1" role="group" aria-label="Basic example">
        <% ["Bookings", "Prices", "Hours", "Logos"].each do |buttonID| %>
            <button type="button" class="btn border-dark hover-selected rounded-0"
            data-idRef=<%= "#{buttonID}InfoCard" %>><%= buttonID %></button>
        <% end %>
      </div>
    </div>
    <div class="container mt-4">
      <div class="bookings tab" id="BookingsInfoCard">
          <%= image_tag(asset_path("dashBoardTable.png"), class: "img-fluid p-0 p-md-4 col-12 col-md-5") %>
          <div class="col-md-6 col-12 offset-md-1">
              <div class="h3 my-3"><i class="fas fa-th pr-2" aria-hidden="true"></i>Bookings:</div>
              <ul class="h5 align-left list-dots-mb-3">
                <li>Display all current and new bookings.</li>
                <li>Create new casual or regular bookings.</li>
                <li>Create single or double venue bookings or full facility bookings.</li>
                <li>Create a custom event when a booking does not fit into an activity category.</li>
                <li>Delete bookings.</li>
              </ul>
          </div>
      </div>
      <div class="prices tab d-none" id="PricesInfoCard">
        <%= image_tag(asset_path("prices_plans.png"), class: "img-fluid p-0 p-md-4 col-12 col-md-5") %>
        <div class="col-md-6 col-12 offset-md-1">
            <div class="h3 my-3"><i class="fas fa-dollar-sign pr-2" aria-hidden="true"></i>Prices:</div>
            <ul class="h5 align-left list-dots-mb-3">
              <li>Add a new activity.</li>
              <li>Set the prices for an activity.</li>
              <li>Match activities with their venues.</li>
              <li>Delete an activity.</li>
            </ul>
        </div>
      </div>
      <div class="hours tab d-none" id="HoursInfoCard">
        <%= image_tag(asset_path("hours_plan.png"), class: "img-fluid p-0 p-md-4 col-12 col-md-5") %>
        <div class="col-md-6 col-12 offset-md-1">
            <div class="h3 my-3"><i class="far fa-clock pr-2" aria-hidden="true"></i>Hours:</div>
            <ul class="h5 align-left list-dots-mb-3">
              <li>Set the opening hours of your business.</li>
              <li>Set the peak hours of your business.</li>
            </ul>
        </div>
      </div>
      <div class="logo tab d-none" id="LogosInfoCard">
        <%= image_tag(asset_path("logo_tab.png"), class: "img-fluid p-0 p-md-4 col-12 col-md-5") %>
        <div class="col-md-6 col-12 offset-md-1">
            <div class="h3 my-3"><i class="far fa-image pr-2" aria-hidden="true"></i>Logos:</div>
            <ul class="h5 align-left list-dots-mb-3">
              <li>Upload your business's logo.</li>
              <li>Edit the names of your venues.</li>
            </ul>
        </div>
      </div>
    </div>
</section>
<section class="container-fluid bg-white px-0 mb-5" id="infoWidget">
    <div class="container">
      <div class="dynamicFont mt-5 mb-3 mb-md-5">
        The WeBall widget:
      </div>
      <div class="h3 font-weight-bold">
        What is it?
      </div>
      <div class="h5 mb-0">
        The WeBall widget is a stand-alone venue booking application that can be embedded into third-party websites.
      </div>
      <div class="h3 font-weight-bold mt-4">
        Why add the WeBall widget to your site?:
      </div>
      <div class="btn-group bg-white form-control p-0 flexWrapButtons mt-3" id="infoCardSelection2" role="group" aria-label="Basic example">
        <% ["No commissions", "Faster bookings", "Keep visitors on your website", "Lower administration expenses"].each do |buttonID| %>
            <button type="button" class="btn border-dark hover-selected rounded-0"
            data-idRef=<%= "#{buttonID.split(' ').join('_')}" %>><%= buttonID %></button>
        <% end %>
      </div>
    </div>
    <div class="container mt-4">
      <div class="tab" id="No_commissions">
          <%= image_tag(asset_path("comparison_rates.png"), class: "img-fluid p-0 p-md-4 col-md-5") %>
          <div class="col-md-6 offset-md-1   px-1">
              <div class="h3 my-3">No commissions:</div>
              <ul class="h5 align-left list-dots-mb-3">
                <li>WeBall is built on POLipay, an online payment service run by Australia Post.</li>
                <li>POLipay charges one of the lowest commissions on online payments in Australia.</li>
                <li>WeBall does not charge any additional commission on top of POLipay, only a flat monthly fee.</li>
              </ul>
          </div>
      </div>
      <div class="tab d-none" id="Faster_bookings">
        <%= image_tag(asset_path("review_page.png"), class: "img-fluid p-0 p-md-4 col-md-5") %>
        <div class="col-md-6 offset-md-1   px-1">
            <div class="h3 my-3">Faster bookings:</div>
            <ul class="h5 align-left list-dots-mb-3">
              <li>Average online form abandomment rate is 68%.</li>
              <li>The WeBall widget lets customers book faster without account registration.</li>
              <li>Shorter booking times mean less abandonment; less abandonment means more bookings.</li>
            </ul>
        </div>
      </div>
      <div class="tab d-none" id="Keep_visitors_on_your_website">
        <%= image_tag(asset_path("compareSkedda.png"), class: "img-fluid p-0 p-md-4 col-md-5") %>
        <div class="col-md-6 offset-md-1   px-1">
            <div class="h3 my-3">Keep visitors on your website:</div>
            <ul class="h5 align-left list-dots-mb-3">
              <li>Most booking platforms redirect your internet traffic to their own website.</li>
              <li>This prevents visitors from browsing your other services or products and reduces their exposure to your special offers.</li>
              <li>By embedding the WeBall widget directly into your own website, customers can stay on your website when they book.</li>
            </ul>
        </div>
      </div>
      <div class="tab d-none" id="Lower_administration_expenses">
        <%= image_tag(asset_path("repeatSpeechLg.png"), class: "img-fluid p-0 p-md-4 col-md-5") %>
        <div class="col-md-6 offset-md-1   px-1">
            <div class="h3 my-3">Lower administration expenses:</div>
            <ul class="h5 align-left list-dots-mb-3">
              <li>Answering calls on office availability is an inefficient use of staff time.</li>
              <li>WeBall widget lets your customers check office availability in real-time online without the need for staff.</li>
              <li>New bookings appear in real-time on your dashboard</li>
              <li>Reduce time spent on administration with WeBall and save money.</li>
            </ul>
        </div>
      </div>
    </div>
</section>
<section class="container-fluid bg-aliceBlue">
  <div class="row mx-0">
    <div class="col-12 d-flex justify-content-center px-0 py-4">
      <a role="button" class="btn btn-lg cta-button h4 font-weight-bold h-contentFit mb-0" href="<%= new_sports_centre_path %>">
          Start your free trial<i class="fas fa-lg ml-2 fa-angle-right"></i>
      </a>
    </div>
  </div>
</section>
<!--
<section class="container-fluid bg-aliceBlue">
  <div class="row top-section-margin">
    <div class="col-12 text-center mt-3 h3 mb-0">
      Ready to install?
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-0 full-width mt-4 d-flex justify-content-between">
      <div class="mx-auto">
        <div class="display-3 text-center text-muted-opaque">1</div>
        <div class="text-center h5">Sign Up</div>
      </div>
      <%= image_tag asset_path("signUp1.png"), class: "img-fluid col-8 offset-1 rounded border-orange px-0" %>
    </div>
    <div class="col-md-4 mx-0 full-width mt-4 d-flex justify-content-between">
      <div class="mx-auto">
        <div class="display-3 text-center text-muted-opaque">2</div>
        <div class="text-center h5">Insert Code</div>
      </div>
      <%= image_tag asset_path("step2Install.png"), class: "img-fluid col-8 offset-1 rounded border-orange px-0" %>
    </div>
    <div class="col-md-4 mx-0 full-width mt-4 d-flex justify-content-between">
      <div class="mx-auto">
        <div class="display-3 text-center text-muted-opaque">3</div>
        <div class="text-center h5">Use</div>
      </div>
      <%= image_tag asset_path("step3Use.png"), class: "img-fluid col-8 offset-1 rounded border-orange px-0" %>
    </div>
  </div>
  <div class="row d-flex justify-content-center py-4">
    <a href="<%= new_sports_centre_path %>">
      <button type="button" class="btn btn-success btn-lg font-weight-bold">Sign Up</button>
    </a>
  </div>
</section>
-->
<!-- <div class="row pt-4 px-5">
    <div class="col-md-2 offset-md-1 px-0">
    <div class="wistia_responsive_padding" style="padding:166.56% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div class="wistia_embed wistia_async_by9e2m5uzk videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;
        </div>
      </div>
    </div>
    </div>
    <div class="px-0 pt-3 h4 font-weight-bold col-md-6 d-flex flex-column offset-md-1 justify-content-center">
      <p class="h3 font-weight-bold border-left-orange">Get more customers</p>
      <p class="h5 ideal-line-height mt-1">
        Convert your website's visitors into
        customers in under 60 seconds with our unique booking widget,
        custom designed for Australian sports centres.</p>
        <%= link_to "#", class:"home-learnMore ideal-line-spacing text-right" do %>
          <span>Learn more &#10132;</span>
        <% end %>
    </div>
</div>
<div class="row px-5 pt-4 my-3" id="home-reverseRow">
  <div class="col-md-4 offset-md-1 pl-0">
    <%= image_tag asset_path("laptopHalf.png") %>
  </div>
  <div class="px-0 pt-3 h4 font-weight-bold col-md-6 offset-md-1 d-flex flex-column justify-content-center">
    <p class="h3 border-left-orange font-weight-bold">Get Paid Real-Time</p>
    <p class="h5 mt-1 ideal-line-height">Money paid for bookings through your
      website is transferred immediately into
      your Bank Account.</p>
    <%= link_to "#", class:"home-learnMore ideal-line-spacing text-right" do %>
      <span>Learn more &#10132;</span>
    <% end %>
  </div>
</div>
<div class="row px-5 pt-4 mt-3" id="home-compareFeesRow">
  <div class="col-md-5 offset-md-1 px-0">
    <%= image_tag asset_path("compareFees.png") %>
  </div>
  <div class="px-0 pt-3 col-md-5 offset-md-1 h4 d-flex flex-column justify-content-center">
    <p class="h3 border-left-orange font-weight-bold">Get Lower Transaction Fees</p>
    <p class="h5 mt-1 ideal-line-height">We charge 1.65% + 30c per each online transaction
      for NGOs. Our pricing involves no additional fees.
    </p>
    <%= link_to "#", class:"home-learnMore ideal-line-spacing text-right" do %>
      <span>Learn more &#10132;</span>
    <% end %>
  </div>
</div>
The WeBall dashboard is divided into two main sections
- the dark blue side bar on the left side and the large white content on the right.
At the top of the left hand side bar is a reference calendar, at the bottom are two
account management tabs while in between are four main action tabs.
The four tabs located in the middle - Bookings, Prices, Business Hours and Logo -
are called action tabs because they control what appears in the larger white section on the right-hand side.
Here below is an explanation of what you can do with each action tab:
-->
