<section class="container-fluid bg-home-image-1 py-3">
    <div class="container homePageGrid">
      <div class="homePageText d-flex flex-column">
          <div class="h1">
            Simplify your venue booking system.
          </div>
        <!--  <span>Let customers</span>
          <span class="text-uppercase mb-0 font-weight-bold text-center mb-0">book venues faster</span>
          <span class="text-right">on your site.</span> -->
          <div class="h5">
            WeBall is a
            <span class="font-weight-bold">free </span>
            online booking management tool, designed for Australian venues.
          </div>
      </div>
      <%= image_tag(asset_path("tabletWeBall.png"), class: "homePagePhoto1") %>
      <div class="homePageButton d-flex justify-content-end">
        <button class="btn btn-small cta-button h4 font-weight-bold">
            Create a free account<i class="fas fa-lg ml-2 fa-angle-right"></i>
        </button>
      </div>
      <!-- grid -->
    </div>
</section>
<section class="container-fluid py-3">
    <div class="container row justify-content-center mx-auto">
        <div class="px-3 justify-content-center quickNav">
          <%= image_tag(asset_path("handShakeIcon.png"), class: "mx-auto") %>
          <a role="button" class="btn generalButton quickNavText h5 text-center" href="<%= home_how_weball_works_path %>">
              Learn how WeBall works<i class="fas fa-lg ml-2 fa-angle-right"></i>
          </a>
        </div>
        <div class="px-3 justify-content-center quickNav">
          <%= image_tag(asset_path("weBallPlans.png"), class: "mx-auto pr-2 pl-3") %>
          <a role="button" class="btn generalButton quickNavText h5 text-center" href="<%= home_pricing_plans_path %>">
            Choose a plan<i class="fas fa-lg ml-2 fa-angle-right"></i>
          </a>
        </div>
        <div class="px-3 justify-content-center quickNav">
          <%= image_tag(asset_path("laptopLightning.png"), class: "mx-auto") %>
          <a role="button" class="btn generalButton quickNavText h5 text-center" href="<%= home_setup_weball_guide_path %>">
            Setup WeBall<i class="fas fa-lg ml-2 fa-angle-right"></i>
          </a>
        </div>
    </div>
</section>
