<section class="container-fluid min-height bg-home-image-1">
    <div class="container fit-content padding-top">
      <div class="row">
        <div class="home-text col-12 text-center">Playground</div>
      </div>
      <div class="row">
        <div class="col-12 h2 text-center">
          Less Work and More Play
        </div>
      </div>
      <div class="row">
        <div class="col-12 h2 text-center">
          <button type="button" class="btn btn-primary btn-lg font-weight-bold">Get Started</button>
          <button type="button" class="btn btn-lg border second-button rounded font-weight-bold">Learn More</button>
        </div>
      </div>
    </div>
</section>
<section class="container-fluid">
  <div class="container top-section-margin">
      <div class="row mx-0 full-width justify-content-center">
        <p class="h1">An Automated Court Booking System</p>
      </div>
      <div class="row mx-0 full-width">
        <div class="p-0 h4 font-weight-bold col-6 d-flex flex-column justify-content-center">
          <p class="h3">Reduce Staff Costs</p>
          <p class="h5">Staff not productive enough? Our self-service system lets your customers check-in and
          out with QR codes instantly and without the immediate need for front-desk staff.</p>
          <button type="button" class="btn btn-primary btn-lg font-weight-bold mt-2 align-self-start">See Features</button>
        </div>
        <div class="col-6">
          <%= image_tag asset_path("QRscan.jpg") %>
        </div>
      </div>
      <div class="row mx-0 full-width">
        <div class="col-4 px-0">
          <video width="100%" height="500" autoplay loop>
            <source src=<%= asset_path("widgetVideoNew.m4v")%> type="video/mp4">
          </video>
        </div>
        <div class="p-0 h4 font-weight-bold col-8 d-flex flex-column justify-content-center">
          <p class="h3">Increase online Bookings</p>
          <p class="h5" >Customers book on <i>your</i> website; No account needed. They can make regular
          bookings and even check for future court availability.</p>
          <button type="button" class="btn btn-primary btn-lg align-self-start font-weight-bold mt-2 ">See Features</button>
        </div>
      </div>
      <div class="row mx-0 full-width">
        <div class="p-0 col-6 d-flex flex-column justify-content-center">
          <p class="h3">Lower Transaction Fees</p>
          <p class="h5">1% and 30c per transaction*; No extra establishment or ongoing fees;
            Integrated with polipay*.</p>
          <button type="button" class="btn btn-primary btn-lg font-weight-bold mt-2 align-self-start">See Features</button>
        </div>
        <div class="col-6">
          <%= image_tag asset_path("compareFees.png") %>
        </div>
      </div>
  </div>
</section>
<section class="container-fluid orange-theme-color">
  <div class="container top-section-margin">
    <div class="row">
      <div class="col-12 text-white text-center mt-4 h3">
        Ready to install?
      </div>
    </div>
    <div class="row mx-0 full-width">
      <div class="col-1 px-0">
        <div class="row mx-0 display-3">
          1
        </div>
        <div class="row mx-0 h5">
          SignUp
        </div>
      </div>
      <div class="col-3 d-flex flex-column justify-content-center pl-0 pr-5">
        <%= image_tag asset_path("signUpPicture.png"), class: "img-fluid" %>
      </div>
      <div class="col-1 px-0">
        <div class="row mx-0 display-3">
          2
        </div>
        <div class="row mx-0 h5">
          Transfer Bookings
        </div>
      </div>
      <div class="col-3 d-flex flex-column justify-content-center pr-5">
        <%= image_tag asset_path("timetable.png"), class: "img-fluid" %>
      </div>
      <div class="col-1 px-0">
        <div class="row mx-0 display-3">
          3
        </div>
        <div class="row mx-0 h5">
          Insert Code
        </div>
      </div>
      <div class="col-3 d-flex flex-column justify-content-center pl-0">
        <%= image_tag asset_path("code2.png"), class: "img-fluid" %>
      </div>
    </div>
    <div class="row d-flex justify-content-center py-4">
      <button type="button" class="btn btn-primary btn-lg font-weight-bold">Get Started</button>
    </div>
  </div>
</section>
