<section class="container-fluid bg-home-image-1 py-3">
    <div class="container h-contentFit d-flex flex-column justify-content-between">
      <div class="row">
        <div class="col-12 d-flex justify-content-center"><%= image_tag asset_path("mobileTopImage.png"), class: "max-logo" %></div>
      </div>
    </div>
    <div class="row bg-aliceBlue pt-3">
      <div class="col-12 h2 text-center font-weight-bold">
        Online Booking for Sports Centres
      </div>
    </div>
    <div class="row bg-aliceBlue">
      <div class="col-12 h2 mt-2 text-center">
        <a href="<%= home_demo_path %>">
          <button type="button" class="btn btn-success btn-lg font-weight-bold text-white">
            Try Demo
          </button>
        </a>
      </div>
    </div>
</section>
<section class="container-fluid bg-white px-0">
  <div class="row pt-4 px-5">
      <div class="col-md-2 offset-md-1 px-0">
      <div class="wistia_responsive_padding" style="padding:166.56% 0 0 0;position:relative;">
        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
          <div class="wistia_embed wistia_async_by9e2m5uzk videoFoam=true" style="height:100%;position:relative;width:100%">&nbsp;
          </div>
        </div>
      </div>
      </div>
      <div class="px-0 pt-3 h4 font-weight-bold col-md-6 d-flex flex-column offset-md-1 justify-content-center">
        <p class="h3 font-weight-bold border-left-orange pl-2">Get more customers</p>
        <p class="h5 ideal-line-height mt-1">
          Convert your website's visitors into
          customers in under 60 seconds with our unique booking widget,
          custom designed for Australian sports centres.</p>
          <%= link_to "#", class:"home-learnMore ideal-line-spacing text-right" do %>
            <span>Learn more &#10132;</span>
          <% end %>
      </div>
  </div>
  <div class="row px-5 pt-4 my-3" id="home-reverseRow">
    <div class="col-md-4 offset-md-1 pl-0">
      <%= image_tag asset_path("laptopHalf.png") %>
    </div>
    <div class="px-0 pt-3 h4 font-weight-bold col-md-6 offset-md-1 d-flex flex-column justify-content-center">
      <p class="h3 border-left-orange pl-2 font-weight-bold">Get Paid Real-Time</p>
      <p class="h5 mt-1 ideal-line-height">Money paid for bookings through your
        website is transferred immediately into
        your Bank Account.</p>
      <%= link_to "#", class:"home-learnMore ideal-line-spacing text-right" do %>
        <span>Learn more &#10132;</span>
      <% end %>
    </div>
  </div>
  <div class="row px-5 pt-4 mt-3" id="home-compareFeesRow">
    <div class="col-md-5 offset-md-1 px-0">
      <%= image_tag asset_path("compareFees.png") %>
    </div>
    <div class="px-0 pt-3 col-md-5 offset-md-1 h4 d-flex flex-column justify-content-center">
      <p class="h3 border-left-orange pl-2 font-weight-bold">Get Lower Transaction Fees</p>
      <p class="h5 mt-1 ideal-line-height">We charge 1.65% + 30c per each online transaction
        for NGOs. Our pricing involves no additional fees.
      </p>
      <%= link_to "#", class:"home-learnMore ideal-line-spacing text-right" do %>
        <span>Learn more &#10132;</span>
      <% end %>
    </div>
  </div>
</section>
<section class="container-fluid bg-aliceBlue">
  <div class="row top-section-margin">
    <div class="col-12 text-center mt-3 h3 mb-0">
      Ready to install?
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-0 full-width mt-4 d-flex justify-content-between">
      <div class="mx-auto">
        <div class="display-3 text-center text-muted-opaque">1</div>
        <div class="text-center h5">Sign Up</div>
      </div>
      <%= image_tag asset_path("signUp1.png"), class: "img-fluid col-8 offset-1 rounded border-orange px-0" %>
    </div>
    <div class="col-md-4 mx-0 full-width mt-4 d-flex justify-content-between">
      <div class="mx-auto">
        <div class="display-3 text-center text-muted-opaque">2</div>
        <div class="text-center h5">Insert Code</div>
      </div>
      <%= image_tag asset_path("step2Install.png"), class: "img-fluid col-8 offset-1 rounded border-orange px-0" %>
    </div>
    <div class="col-md-4 mx-0 full-width mt-4 d-flex justify-content-between">
      <div class="mx-auto">
        <div class="display-3 text-center text-muted-opaque">3</div>
        <div class="text-center h5">Use</div>
      </div>
      <%= image_tag asset_path("step3Use.png"), class: "img-fluid col-8 offset-1 rounded border-orange px-0" %>
    </div>
  </div>
  <div class="row d-flex justify-content-center py-4">
    <a href="<%= new_sports_centre_path %>">
      <button type="button" class="btn btn-success btn-lg font-weight-bold">Sign Up</button>
    </a>
  </div>
</section>
